<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=(local);Initial Catalog=LogDataBase;User Id=sa;Password=sa;" />
    <add key="LogFileDirectory" value="D:/Log/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup> 
</configuration>